*{

font-family: sans-serif;
}


body{
    background-image: url(images/cubes.png);
}


@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
    body .hero-image{
        height: 30vh;
    }
    body .planfinancestitle{
        font-size: 50%;
    }
    body .planfinancestext p {
        width: 35vw;
        margin-right: 5vw;
        font-size: 1.5rem;
    }
    body .planfinancesimage{

    }
  }
  


h2{
    margin-bottom: 0px;
}

body{
    margin: 0px;
}

.hero-image{
    background-image: url(images/pexels-olia-danilevich-5466810.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 800px;
    width: 100%;
    margin-top: 0px;

}

.hero-title{
    font-family: 'Shippori Antique', sans-serif;
    font-size: 3.2vw;
    font-weight: 400;
    text-align: center; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    white-space: nowrap;
}

.page-margin{
    margin-left: 10%;
    margin-right: 10%
}

.planfinances{
    font-size: 3rem;
}

.planfinancestext p {
    width: 35vw;
    margin-right: 5vw;
}

.planfinancescontainer{
    margin-top: 0;
    display: flex;
    flex-direction: row;
}

.planfinancesimage{
    background-image: url(images/pexels-tara-winstead-7111517.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 0px;
    width: 100%;
    height: 800px;


}

.planfinancestitle{
    margin-bottom: 0;
}


.incomecalculator-box{
    width: 100%;
    height: 2000px;
    border: solid black 2px;
} 

.selectacareer{
    width: 100%;
    font-size: 3rem;
    height: 10vh;
}